<section id ="title" class="emerald">
  <div class="container">

     <div class="row">
                <div class="col-sm-6">
                    <h2>Submit a new Article</h2>
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Submit Article</li>
                    </ul>
                </div>
      </div>
  </div>
</section>
<section>
	<div class="container">
	  <a href="/posts/new">
       <button type="button" class="btn btn-info">Start writing!</button>
      </a>
	   <div class="row">
	     <div class="col-sm-6">
	        <h2>What is an Article?</h2>
	        <p>An article is typically either a tutorial that allows someone to learn about a technique or technology, or an explanation and documentation for code that you are uploading. Articles outline the problem you're trying to solve, the techniques you're using, and a simple explanation of how to use your code or techniques. Interesting gotcha's or trivia are always welcome.</p>
	        <p>
	        	<strong> Need help? </strong> If so, please send an email to submit@snippest.com and we can answer your questions or connect you to a Mentor who will guide you through the process.
	        </p>
	     </div>
	     <div class="col-sm-6">
	       <h3>First time here?</h3>
	       <p>Submitting a new article is easy, but before starting please read:</p>
	       <ul class="list-unstyled">
             <li> <span class="glyphicon glyphicon-ok"></span> Article Heading</li>
             <li> <span class="glyphicon glyphicon-tag"></span>Tag</li>
             <li> <span class="glyphicon glyphicon-paperclip"></span> Attachments</li>
	       </ul>
	     </div>
	   </div>
	</div>
</section>
